<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostname" value="imap.yandex.ru" />
		<add key="login" value="test" />
		<add key="password" value="test" />
		<add key="port" value="993" />
		<add key="useSsl" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="Server=127.0.0.1;Port=3306;Database=test;Uid=test;Pwd=test;" />
	</connectionStrings>
</configuration>